<!-- Überschrift -->
<h2 class="ui center aligned icon header">
  <i class="edit blue icon"></i>
  <div class="content">
    Buch bearbeiten
    <div class="sub header">Hier kannst du Bücher bearbeiten.</div>
  </div>
</h2>

<!-- Alle Attribute -->
<div class="ui grid">

  <div class="sixteen wide column"></div>
  <div class="sixteen wide column"></div>   

  <div class="four wide column"></div>
  <div class="three wide column">
      <h4 class="ui header">Titel</h4>  
      <div class="ui input focus">
      {{input type="text" value=model.titel}}
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Autor</h4>  
      <div class="ui input focus">
      {{input type=text value=model.autor}}
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Verlag</h4>  
      <div class="ui input focus">
      {{input type=text value=model.verlag}}
      </div>
  </div>
  <div class="three wide column"></div>
 
  <div class="four wide column"></div>
  <div class="three wide column">
      <h4 class="ui header">ISBN</h4>  
      <div class="ui input focus">
      {{input type=text value=model.isbn}}
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Auflage</h4>  
      <div class="ui input focus">
      {{input type=text value=model.auflage}}
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Erscheinungsjahr</h4>  
      <div class="ui input focus">
      {{input type=text value=model.erscheinungsjahr}}
      </div>
  </div>
  <div class="three wide column"></div>

  <div class="four wide column"></div>
  <div class="three wide column">
      <h4 class="ui header">Kategorie</h4>  
      <div class="ui input focus">
      {{input type=text value=model.kategorie}}
      </div>
  </div>
  <div class="nine wide column"></div>

  <!-- Speichern Button -->
  <div class="ui three column centered grid">
    <button class="align center large ui blue button" {{action "save" model}}>
        Speichern
    </button>
  </div>

</div>
